@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='dark'] {
  --background: rgb(249, 249, 249);
  --foreground: #171717;
}

[data-theme='light'] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
